<section id="content">
  <div class="width-wrapper width-wrapper__inset1">
    <div class="wrapper1 wrapper7">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading1 wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
              <h2>Search Used Cars for Sale</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box3 maxheight box3__offset1 box3__inset1"><div class="box_inner">
              <h2>Find by Body Style</h2>
              <ul class="list2">
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;"><a href="#">Hatchback</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;"><a href="#">Hybrid</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;"><a href="#">Van/Minivan</a></li>
              </ul>
              <div class="clearfix"></div>
            </div></div>
          </div>

          <div class="col-md-4">
            <div class="box3 maxheight box3__offset1 box3__inset2"><div class="box_inner">
              <h2>Find by price</h2>
              <ul class="list2">
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;"><a href="#">$5,000 and below</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;"><a href="#">$5,000 to $10,000</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;"><a href="#">$10,000 to $15,000</a></li>
              </ul>
              <ul class="list2">
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;"><a href="#">$15,000 to $20,000</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;"><a href="#">$20,000 to $25,000</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;"><a href="#">$30,000 and higher</a></li>
              </ul>
              <div class="clearfix"></div>
            </div></div>
          </div>

          <div class="col-md-4">
            <div class="box3 maxheight box3__offset1 box3__inset2"><div class="box_inner">
              <h2>Brands</h2>
              <ul class="list2">
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;"><a href="#">Trade-In Your Car</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;"><a href="#">CPO Guides</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;"><a href="#">Compare Cars</a></li>
              </ul>
              <div class="clearfix"></div>
            </div></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="banner3">
              <div class="row">
                <div class="col-md-8">
                  <h2 class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">Find used cars</h2>
                  <span class="lower-heading wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">find used cars by selecting one or, more options below</span>
                  <form id="bookingForm" class="bookingForm1 wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                    <div class="no-shadow-wrapper">
                      <span class="heading">Select City:</span>
                      <div class="controlHolder"><select name="City" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="@Required" id="regula-generated-455974" style="display: none;">
                        <option>Any Make</option>
                        <option>Any Make 1</option>
                        <option>Any Make 2</option>
                        <option>Any Make 3</option>
                        <option>Any Make 4</option>
                        <option>Any Make 5</option>
                      </select><ul class="tmSelect tmSelect2 auto trans-element"><li class=""><span>Any Make</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=""><span>Any Make 1</span></li><li data-settings="" class=""><span>Any Make 2</span></li><li data-settings="" class=""><span>Any Make 3</span></li><li data-settings="" class=""><span>Any Make 4</span></li><li data-settings="" class=""><span>Any Make 5</span></li></ul></li></ul></div>
                    </div>
                    <div class="wrapper">
                      <div class="block">
                        <span class="heading">Select Model:</span>
                        <div class="controlHolder"><select name="Make" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="@Required" id="regula-generated-609270" style="display: none;">
                          <option>Any Model</option>
                          <option>Any Model 1</option>
                          <option>Any Model 2</option>
                          <option>Any Model 3</option>
                          <option>Any Model 4</option>
                          <option>Any Model 5</option>
                        </select><ul class="tmSelect tmSelect2 auto trans-element"><li class=""><span>Any Model</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=""><span>Any Model 1</span></li><li data-settings="" class=""><span>Any Model 2</span></li><li data-settings="" class=""><span>Any Model 3</span></li><li data-settings="" class=""><span>Any Model 4</span></li><li data-settings="" class=""><span>Any Model 5</span></li></ul></li></ul></div>
                      </div>
                      <div class="block">
                        <span class="heading">Select Price:</span>
                        <div class="controlHolder"><select name="Make" class="tmSelect auto" data-class="tmSelect tmSelect2" data-constraints="@Required" id="regula-generated-857418" style="display: none;">
                          <option>Any Price</option>
                          <option>Any Price 1</option>
                          <option>Any Price 2</option>
                          <option>Any Price 3</option>
                          <option>Any Price 4</option>
                          <option>Any Price 5</option>
                        </select><ul class="tmSelect tmSelect2 auto trans-element"><li><span>Any Price</span><ul style="display: none;" class="transformSelectDropdown"><li data-settings="" class=""><span>Any Price 1</span></li><li data-settings="" class=""><span>Any Price 2</span></li><li data-settings="" class=""><span>Any Price 3</span></li><li data-settings="" class=""><span>Any Price 4</span></li><li data-settings="" class=""><span>Any Price 5</span></li></ul></li></ul></div>
                      </div>
                      <div class="block">
                        <a href="#" class="btn-big" data-type="submit">Find a car</a>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="heading1 wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
              <h2>Best-selling used cars</h2>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="box1">
                  <h4 class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <a href="#">2011  Donec sit amet eros</a>
                  </h4>
                  <img class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" src="../../../../assets/images/page3_img2.png" alt="" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                  <p class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">Maecenas tristique orci ac sem. Duis ultri
                    cies pharetra magna. Donec accumsan male
                    suada orci. Donec sit amet eros.
                    Lorem ipsum dolor sit amet, consectetuer </p>
                  <div class="info2 wow fadeIn animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                    <div class="price">
                      <span class="first">Price:</span>
                      <span class="second">$26899</span>
                    </div>
                    <a class="btn-default" href="#">
                      <span>Details</span>
                    </a>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="box1">
                  <h4 class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <a href="#">2010  Duis ultricies pharetra</a>
                  </h4>
                  <img class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" src="../../../../assets/images/page3_img3.png" alt="" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                  <p class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ferme
                    ntum dictum magna.</p>
                  <div class="info2 wow fadeIn animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                    <div class="price">
                      <span class="first">Price:</span>
                      <span class="second">$26899</span>
                    </div>
                    <a class="btn-default" href="#">
                      <span>Details</span>
                    </a>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="box1">
                  <h4 class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <a href="#">2009  Fusce suscipit varius mi</a>
                  </h4>
                  <img class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" src="../../../../assets/images/page3_img4.png" alt="" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
                  <p class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor.</p>
                  <div class="info2 wow fadeIn animated" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                    <div class="price">
                      <span class="first">Price:</span>
                      <span class="second">$26899</span>
                    </div>
                    <a class="btn-default" href="#">
                      <span>Details</span>
                    </a>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="wrapper8">
                  <div class="heading1 heading1__offset1 wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                    <h2>Carsell top picks</h2>
                  </div>
                  <div class="col-md-12">
                    <div class="box6 left">
                      <div class="image-wrapper wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                        <img src="../../../../assets/images/page3_img6.png" alt="">
                        <div class="content wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                          <h6><a href="#">Best and worst resale values</a></h6>
                          <p>Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.
                            Maecenas tristique orci ac sem</p>
                        </div>
                      </div>
                    </div>
                    <div class="box6 right">
                      <div class="image-wrapper wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                        <img src="../../../../assets/images/page3_img7.png" alt="">
                        <div class="content wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                          <h6><a href="#">Car reviews</a></h6>
                          <p>Vursus nec, luctus a, lorem. Maecenas tristique orci ac sem.
                            Duis ultricies pharetra magna. Donec accumsan.</p>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="box6 left">
                      <div class="image-wrapper wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                        <img src="../../../../assets/images/page3_img8.png" alt="">
                        <div class="content wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                          <h6><a href="#">Top safety picks</a></h6>
                          <p>Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet.</p>
                        </div>
                      </div>
                    </div>
                    <div class="box6 right">
                      <div class="image-wrapper wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
                        <img src="../../../../assets/images/page3_img9.png" alt="">
                        <div class="content wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;">
                          <h6><a href="#">top 10 cash back offers</a></h6>
                          <p>Donec sit amet eros. Lorem ipsum dolor sit amet, con
                            sectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box7">
              <h2 class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">guide to sell your car fast</h2>
              <img class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" src="../../../../assets/images/page3_img5.png" alt="" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">
              <h3 class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;">
                <a href="#">Fusce suscipit varius mi Cum sociis natoquf</a>
              </h3>
              <p class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
              <p class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;">Veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
              <a class="btn-default wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" href="#" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;"><span>Details</span></a>
            </div>
            <div class="box3 box3__offset1 box3__inset3">
              <h2 class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">Most popular articles</h2>
              <ul class="list2">
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;"><a href="#">Aftermarket Parts</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeIn;"><a href="#">Certified Pre-Owned</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeIn;"><a href="#">Classic Cars</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s; animation-name: fadeIn;"><a href="#">Car Maintenance</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeIn;"><a href="#">Used Car Buying</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeIn;"><a href="#">Car Insurance</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.7s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.7s; animation-name: fadeIn;"><a href="#">Car Repair</a></li>
                <li class="wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.8s; animation-name: fadeIn;"><a href="#">Used Car Prices</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
