<section id="content">
  <div class="width-wrapper width-wrapper__inset1">
    <div class="wrapper1 wrapper7">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="heading1 heading1__offset1">
              <h2>Contacts</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="google-map_contacts">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24214.807650104907!2d-73.94846048422478!3d40.65521573400813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1395650655094" style="border:0"></iframe>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 100px">
          <div class="col-mg-3">
            <address class="contacts-address wow fadeIn animated" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeIn;">
              <span class="our-address">8901 Marmora Road,<br>Glasgow, D04 89GR.</span>
              <span class="wrapper"><span class="wide">Freephone:</span>+1 800 559 6580</span>
              <span class="wrapper"><span class="wide">Telephone:</span>+1 800 603 6035</span>
              <span class="wrapper"><span class="wide">FAX:</span>+1 800 889 9898</span>
              <span class="wrapper"><span class="wide">E-mail:</span><a href="mailto:mail@demolink.org" class="simple-link">mail@demolink.org</a></span>
            </address>
          </div>
          <div class="col-md-9">
            <form id="contact-form" method="POST" action="bat/MailHandler.php">
              <div class="contact-form-loader"></div>
              <fieldset>
                <div class="row">
                    <div class="col-md-6">
                      <label>Your Name:</label>
                      <input type="text" name="name" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label>Your E-mail:</label>
                      <input type="text" name="email" value="" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label>Your Phone:</label>
                      <input type="text" name="phone" value="" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label>Your Message:</label>
                      <textarea name="message" class="form-control" rows="8"></textarea>
                    </div>
                </div>
                <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->
                <div class="col-md-6">
                  <button href="#" data-type="submit" class="btn-default"><span>Send</span></button>
                </div>
              </fieldset>
              <input type="hidden" name="stripHTML" value="true"></form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
